<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Welcome to the Beer Store</h1>
        <div class="beer-list">
            <% for (let beer of beers) { %>
                <div class="beer-item">
                    <h3><%= beer.name %></h3>
                    <p><%= beer.price %></p>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>